# Local integration test environment
# Copy to .env before running local-up.sh

TZ=Etc/UTC
APP_URL=http://localhost:36460
APP_PORT=36460

PG_DATABASE=m3ue_local
PG_USER=m3ue
PG_PASSWORD=localpass

REDIS_PORT=6379
REDIS_PASSWORD=localpass

M3U_PROXY_PORT=38085
M3U_PROXY_TOKEN=localtoken
